.toggle-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theme-toggle-btn {
    background: transparent;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--text-color);
    transition: color 0.3s ease, transform 0.3s ease;
}

.theme-toggle-btn:hover {
    transform: scale(1.1);
    color: var(--primary-color);
}